@use "assets/scss/presets" as *;
@use "assets/scss/mixins" as *;

.slider{
  display: flex;
  color: $color-white;
  @include md-min {
    gap: 124px;
  }
  @include md {
    flex-direction: column;
    gap: 60px;
  }

  &__headers {
    position: relative;
    flex-basis: 0;
    flex-grow: 3;

    display: flex;
    flex-direction: column;
    gap: 30px;

    @include lg {
      flex-grow: 4;
    }

    @include md-min {
      &:after {
        content: "";
        position: absolute;
        right: -42px;
        top: 0;
        width: 4px;
        height: 100%;
        background-color: $color-gray-bg-separator;
      }
    }
    @include md {
      &:after {
        content: "";
        bottom: 0;
        top: 30px;
        width: 100%;
        height: 4px;
        background: rgba(255, 255, 255, 0.3);
        flex-direction: row;
        white-space: nowrap;
      }
    }


  }

  &__header {
    position: relative;
    user-select: none;
    color: $color-gray-bg-text;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;

    @include md-min {
      text-align: right;
      font-size: 38px;
    }
    @include md {
      display: flex;
      font-size: 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    &.active {
      span {
        @extend %text-liner-gradient;
      }

      @include md-min {
        &:after {
          content: "";
          position: absolute;
          right: -42px;
          top: 0;
          width: 4px;
          height: 100%;
          background-color: $color-accent;
          z-index: 1;
        }
      }
      @include md {
        display: block;
      }
    }
  }
    

  &__notes {
    flex-basis: 0;
    flex-grow: 3;

    display: flex;
    align-items: center;

  }

  &__note {
    position: absolute;
    z-index: -9999;
    opacity: 0;
    max-width: 600px;

    &.active {
      position: static;
      z-index: inherit;
      opacity: 1;
    }

    &-title {
      font-weight: 700;
      font-size: 30px;
      line-height: 37px;
      padding-bottom: 30px;

      @include md {
        font-size: 20px;
        line-height: 24px;
      }
    }


    &-description {
      font-weight: 400;
      font-size: 19px;
      line-height: 30px;
  }

  &__indicators {
    display: flex;
    justify-content: center;
    gap: 14px;
    @include md-min {
    
    }
  }
  &__indicator {
    width: 16px;
    height: 16px;
    border-radius: 16px * 0.5;
    opacity: 0.2;
    background-color: $color-active;

    &.active {
      opacity: 1;
    }
  }
}
}
