@use "assets/scss/presets" as *;
@use "assets/scss/mixins" as *;

.page-header {
  position: relative;
  background: $color-primary;
  max-width: 100%;
  overflow: hidden;
  &-services {
    background: none;
  }

  &__grid {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: $gap;
    padding-top: 50px;

    @include sm-min {
      padding-top: 50px;
      grid-template-areas: "logo actions" "logo menu";
    }
    @include sm {
      grid-template-areas: "actions actions" "logo menu";
      padding-top: $gap;
      align-items: center
    }
    @extend %container;
  }

  &__logo {
    grid-area: logo;
    &-image {
      width: 130px;
      @include sm {
        width: 70px;
      }
      &-services {
        width: 200px;
        @include sm {
          width: 130px;
        }
      }
    }
  }

  &__menu {
    grid-area: menu;
  }

  &__actions{
    grid-area: actions;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &-title {
      position: relative;
      margin: 0;
      z-index: 1;
      font-size: 38px;
      text-align: center;
      font-weight: 700;
      max-width: 800px;
      color: $color-white;

      @include sm {
        max-width:  315px;
        justify-content: center;
      } 
    }

    &-image {
      position: absolute;
      height: 100vh;
      top: 0;
    }
  }

  &__button {
    position: absolute;
    bottom: 30px;
    left: calc(50% - 42px/2);


      &-image {
        fill: $color-white;
        display: block;
        margin-left: auto;
        margin-right: auto;

        height: 42px;
        width: 42px;

        &:hover {
          cursor: pointer;
          fill: $color-accent;
        }
      }
  }
}
.transparretn-bg {
  display: none;

  @include sm {
    display: block;
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0;
    background-color: $color-gray-bg;
    opacity: .2;
  }
}